{# templates/partials/header.html.twig #}
<header>
    <section>
        <img src="{{ asset('images/logo.png') }}" alt="Bienvenue sur IRM Assist">
    </section>
    <nav>
        <ul>
            <li><a href="">Fonctionnement</a></li>
            <li><a href="">Analyse</a></li>
            <li><a href="">Nous contacter</a></li>
            <li><a href="">Nos experts</a></li>
        </ul>
    </nav>
    <section>
        <a href="">Se connecter</a>
    </section>
</header>