{% extends 'base.html.twig' %}

{% block title %}Hello ReportBugsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/CCI/Documents/Workshop/IRM_Assist/src/Controller/Support/ReportBugs/ReportBugsController.php</code></li>
        <li>Your template at <code>C:/Users/CCI/Documents/Workshop/IRM_Assist/templates/support/report_bugs/report_bugs/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
